@import "tailwindcss";
.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.input-field {
    @apply w-full rounded-xl bg-slate-700/60 border border-slate-600
          focus:outline-none focus:ring-2 focus:ring-cyan-500
          text-slate-100 placeholder-slate-400 px-4 py-3 mb-4;
}
